---
import Layout from "../layouts/Layout.astro"
import Navbar from "../components/Navbar.tsx"
import Footer from "../components/Footer.astro"
import ServiceHero from "../components/ServiceHero.astro"
import Hail from "../components/Hail.astro"
import photo9 from "../images/photo-9.jpg"
---

<Layout theme="dark">
  <link rel="preload" as="image" href={photo9.src}>
  <div class="bg" style={`background-image: url(${photo9.src})`}>  
    <Navbar client:idle/>
    <ServiceHero />
  </div>
  <Hail />
  <Footer />
</Layout>

<style>
  .bg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
    
  }
  .bg::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 0;
  }

  .bg > * {
    position: relative;
    z-index: 50;
  }
</style>
