---
import Button from "./ui/Button.astro"
import { Image } from "astro:assets"
import photo1 from "../images/photo-1.jpg"
import photo2 from "../images/photo-2.jpg"
import photo3 from "../images/photo-3.jpg"
import photo4 from "../images/photo-4.jpg"
import photo5 from "../images/photo-5.jpg"
import photo6 from "../images/photo-6.jpg"
import photo7 from "../images/photo-7.jpg"
import photo8 from "../images/photo-8.jpg"
import photo9 from "../images/photo-9.jpg"
import photo10 from "../images/photo-10.jpg"
import photo11 from "../images/photo-11.jpg"
import photo12 from "../images/photo-12.jpg"
import photo13 from "../images/photo-13.jpg"
import photo14 from "../images/photo-14.jpg"
import photo15 from "../images/photo-15.jpg"
import photo16 from "../images/proof-4.jpg"

const photos = [
  {src: photo1, alt: "car gallery", category: "door-ding"},
  {src: photo2, alt: "car gallery", category: "hail"},
  {src: photo3, alt: "car gallery", category: "bumper"},
  {src: photo4, alt: "car gallery", category: "bumper"},
  {src: photo5, alt: "car gallery", category: "hail"},
  {src: photo6, alt: "car gallery", category: "crease"},
  {src: photo7, alt: "car gallery", category: "door-ding"},
  {src: photo8, alt: "car gallery", category: "hail"},
  {src: photo9, alt: "car gallery", category: "crease"},
  {src: photo10, alt: "car gallery", category: "hail"},
  {src: photo11, alt: "car gallery", category: "bumper"},
  {src: photo12, alt: "car gallery", category: "door-ding"},
  {src: photo13, alt: "car gallery", category: "hail"},
  {src: photo14, alt: "car gallery", category: "crease"},
  {src: photo15, alt: "car gallery", category: "hail"},
  {src: photo16, alt: "car gallery", category: "bumper"},
]

---

<section class="container">
  <h1 class="header">Gallery</h1>
  <div class="btn-group">
    <Button size="sm" variant="offBlack"dataFilter="all" class="filter-btn active">Show All</Button>
    <Button size="sm" variant="offBlack" dataFilter="door-ding" class="filter-btn">Door ding</Button>
    <Button size="sm" variant="offBlack" dataFilter="crease" class="filter-btn">Crease</Button>
    <Button size="sm" variant="offBlack" dataFilter="bumper" class="filter-btn">Bumper</Button>
    <Button size="sm" variant="offBlack" dataFilter="hail" class="filter-btn">Hail</Button>
    <Button size="sm" variant="transparent" dataFilter="all" class="filter-btn reset-btn">Reset</Button>
  </div>

  <div class="grid">
    {photos.map((photo) => (
      <div class="grid-item" data-category={photo.category}><Image src={photo.src} alt={photo.alt} /></div>
    ))}
  </div>
  {/**<div class="flex">
    <Button>View All</Button>
  </div> */}
</section>


<script>
  const filterBtns = document.querySelectorAll(".filter-btn");
  const galleryItems = document.querySelectorAll(".grid-item");

  filterBtns.forEach((btn) => {
    btn.addEventListener("click", () => {
      const filter = btn.getAttribute("data-filter");
      const isReset = btn.classList.contains("reset-btn")

      filterBtns.forEach((b) => b.classList.remove("active"))

      if (isReset) {
        document.querySelector("[data-filter='all']:not(.reset-btn)")?.classList.add("active")
      } else {
        btn.classList.add("active")
      }


      galleryItems.forEach((item) => {
        const category = item.getAttribute("data-category")
        if (filter === "all" || category === filter) {
          (item as HTMLElement).style.display = "block"
        } else {
          (item as HTMLElement).style.display = "none"
        }
      })
    })
  })
</script>


<style>
  .container {
    width: 100%;
    max-width: 72rem;
    margin-left: auto;
    margin-right: auto;
    padding: 4rem 0;
  }
  .header{
    color: var(--color-offWhite);
    font-family: var(--font-dm);
    font-size: var(--text-display);
    margin-bottom: 1rem;
    font-weight: 600;
  }
  .btn-group {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 3rem 0;
    flex-wrap: wrap;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  .flex {
    display: flex;
    justify-content: center;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    width: 100%;
    max-width: 72rem;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem 0;
  }
  .grid-item {
    width: 100%;
    min-width: 0;
    aspect-ratio: 3/4;
    height: auto;
    overflow: hidden;
    border-radius: .5rem;
  }
  .grid-item img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
  }

  @media (max-width:1280px) {
    .container{
      padding: 1rem 2rem;
    }
  }

  @media (max-width:768px) {
    .grid{
      grid-template-columns: repeat(2, 1fr);
    }

    .gallery-item {
      height: auto;
    }
  }

  @media (max-width:480px) {
    .grid {
      gap: .5rem;
    }

    .header {
      margin-bottom: 0;
    }
  }
</style>